@media(max-width: 1300px) {
    .page-template-gift-cards .main-article {
        background: url("../images/gift-cards/header.png") no-repeat right 70vw top 110px;
    }
    /**
     *  Phones List
     */
    .phonesList__dropdownInner {
        max-height: 500px;
        overflow-y: auto;
    }
}

@media(max-width: 1150px) {
    .phonesList {
        display: none;
    }
    #autoclave {
        left: unset;
        bottom: unset;
    }
    /**
     *  Contacts Page
     */
    .page-template-contacts .main-article {
        background: none;
    }
}

@media(max-width: 1024px) {
    /**
     *  SMI About Us Page
     */
    .page-id-348 .main-article {
        background: none;
    }
    .pricelist {
        grid-template-columns: 1fr;
    }
    .pricelist__sidebar {
        display: none;
    }
}

@media(min-width: 800px){
    /**
     *  Atomic Display
     */
    .d_block_m {
        display: none!important;
    }
}

@media(max-width: 800px) {
    body {
        padding-top: 105px;
        font-size: 16px;
        line-height: 1.3;
    }
    /**
     *  Grid system
     */
    .row_1-1,
    .row_auto-1,
    .row_1-2,
    .row_2-1,
    .row_1-1-1,
    .row_1x4,
    .row_1x5 {
        grid-template-columns: 1fr !important;
    }
    .row.row_1x2_m {
        display: grid!important;
        grid-template-columns: 1fr 1fr!important;
    }
    .gap_col_10px_m {
        grid-column-gap: 10px;
    }
    /**
     *  Atomic Margins
     */
    .m_0-auto_m {
        margin: 0 auto;
    }
    .mb_10px_m {
        margin-bottom: 10px;
    }
    .mb_20px_m {
        margin-bottom: 20px;
    }
    .mb_30px_m {
        margin-bottom: 30px;
    }
    .mb_35px_m {
        margin-bottom: 35px;
    }
    .mb_40px_m {
        margin-bottom: 40px;
    }
    .mb_50px_m {
        margin-bottom: 50px;
    }
    .mb_60px_m {
        margin-bottom: 60px;
    }
    .mb_80px_m {
        margin-bottom: 80px;
    }
    .mb_120px_m {
        margin-bottom: 120px;
    }
    .ml_0_m {
        margin-left: 0;
    }
    /**
     *  Atomic Display
     */
    .d_none_m {
        display: none!important;
    }
    .d_block_m {
        display: block!important;
    }
    .d_flex_m {
        display: flex!important;
    }
    .d_flex_m .col {
        width: 100%;
    }
    /**
     *  Atomic Flexbox
     */
    .flex_col-reverse_m {
        flex-direction: column-reverse;
    }
    .flex_alignCenter_m {
        align-items: center;
    }
    /**
     *  Atomic Text
     */
    .txt_left_m {
        text-align: left;
    }
    .txt_fs-16px_m {
        font-size: 16px!important;
    }
    .txt_lh-16px_m {
        line-height: 16px!important;
    }
    .txt_fs-18px_m {
        font-size: 18px!important;
    }
    .txt_lh-18px_m {
        line-height: 18px!important;
    }
    .txt_fs-20px_m {
        font-size: 20px!important;
    }
    .txt_lh-20px_m {
        line-height: 20px!important;
    }
    .txt_fs-24px_m {
        font-size: 24px!important;
    }
    .txt_lh-24px_m {
        line-height: 24px!important;
    }
    .txt_fs-26px_m {
        font-size: 26px!important;
    }
    .txt_lh-26px_m {
        line-height: 26px!important;
    }
    .txt_fs-28px_m {
        font-size: 28px!important;
    }
    .txt_lh-28px_m {
        line-height: 28px!important;
    }
    .txt_fs-30px_m {
        font-size: 30px!important;
    }
    .txt_lh-30px_m {
        line-height: 30px!important;
    }
    .txt_fs-36px_m {
        font-size: 36px!important;
    }
    .txt_lh-36px_m {
        line-height: 36px!important;
    }
    /**
     *  Title
     */
    .title.title_contacts {
        flex-direction: column;
        align-items: unset;
    }
    .title.title_contacts .socials {
        margin-top: 20px;
        margin-left: 0;
    }
    /**
     *  PDP Select
     */
    .select {
        font-size: 14px;
    }
    /**
     *  Header
     */
    header.fixed {
        top: 0;
    }
    .header.header_desktop {
        display: none;
    }
    /**
     *  Mobile header
     */
    .header.header_mobile {
        display: block;
    }
    /**
     *  Mobile Navigation
     */
    .mobile-navigation__back {
        display: block;
    }
    /**
     *  Phones List - Mobile
     */
    .phones-list.phones-list_mobile {
        display: block;
    }
    /**
     *  Header cart
     */
    .cart-wrapper {
        display: block;
    }
    .cart-wrapper.active {
        transform: translateX(0);
    }
    /**
     *  Form Grid System
     */
    .form__row {
        flex-direction: column;
    }
    .form__col_half {
        width: 100%;
    }
    /**
     *  Homepage hero
     */
    #hero-home{
        height: auto;
    }
    .hero {
        flex-direction: column-reverse;
    }
    .hero__title {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: -24px;
        color: white;
        text-align: center;
    }
    .hero__subheading {
        margin-bottom: 40px;
        order: 2;
        font-size: 16px;
    }
    .hero__heading {
        margin-bottom: 8px;
        order: 1;
        font-size: 22px;
        line-height: 1;
    }
    .hero__btn {
        order: 3;
    }
    .hero__socials {
        display: none;
    }
    /**
     *  Hero - About Us
     */
    .hero.hero_about-us {
        flex-direction: column;
    }
    .hero.hero_about-us .breadcrumbs {
        margin-bottom: 40px;
    }
    .hero.hero_about-us .hero__heading {
        font-size: 24px;
        line-height: 38px;
    }
    .hero.hero_about-us .hero__content {
        margin-bottom: 20px;
    }
    /**
     *  Hero - School
     */
    .hero.hero_school {
        flex-direction: column;
    }
    .hero_school .hero__breadcrumbs {
        margin-bottom: 40px;
    }
    .hero_school .hero__heading {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 34px;
    }
    .hero_school .hero__desc {
        font-size: 18px;
        line-height: 17px;
    }
    .hero_school .hero__content {
        margin-bottom: 80px;
    }
    /**
     *  Salons slider
     */
    .servicesSlider__salonSwitcher .select {
        max-width: 100%;
    }
    .salonsSlider__address {
        font-size: 14px;
    }
    /**
     *  Extended service list
     */
    .serviceListExt__row {
        grid-template-columns: 1fr;
    }
    .serviceListExt__title {
        margin-bottom: 20px;
        font-size: 18px;
    }
    /**
     *  OLD Image Box Block
     */
    .imageBox.imageBox_column img {
        margin-top: 16px;
    }
    /**
     *  Homepage
     */
    #home-services {
        margin-bottom: 50px;
    }
    #home-about {
        margin-bottom: 80px;
    }
    #home-salons {
        margin-bottom: 84px;
    }
    #home-socials {
        margin-bottom: 37px;
        padding-right: 190px;
        background: url("../images/homepage/contact-mob.png") no-repeat;
        background-size: contain;
        background-position: right center;
    }
    #home-form {
        margin-bottom: 60px;
    }
    #franchise {
        margin-bottom: 80px;
    }
    #network {
        margin-bottom: 40px;
    }
    #network-first .image {
        margin: 40px 0;
    }
    #network-third .image {
        margin: 60px 0 40px;
    }
    #perfection {
        padding-bottom: 120px;
    }
    #perfection .image {
        margin-top: 40px;
    }
    #perfection .cta {
        margin-top: 60px;
    }
    /**
     *  Footer
     */
    .footer {
        padding: 55px 0;
    }
    .footer .site-logo {
        margin-bottom: 40px;
    }
    .footer__socials {
        display: none;
    }
    .footer-menu_salons {
        display: none;
    }
    /**
     *  Service Pages - Header
     */
    #service-header {
        padding-bottom: 60px;
    }
    .service-header {
        flex-direction: column-reverse;
    }
    .service-header__img-mobile {
        display: block;
    }
    .service-header__img-desktop {
        display: none;
    }
    .service-header__heading {
        font-size: 24px;
        line-height: 28px;
    }
    /**
     *  Service Pages - Rows
     */
    .service-row {
        display: flex;
        flex-direction: column;
    }
    .service-row:nth-child(even){
        flex-direction: column-reverse;
    }
    .service-row__image {
        margin-bottom: 40px;
    }
    /**
     *  Service Pages - Pricelist
     */
    .services-pricelist_complex {
        margin-right: -20px;
        overflow-x: scroll;
    }
    .services-pricelist_complex .services-pricelist__header,
    .services-pricelist_complex .services-pricelist__items-wrap {
        width: 590px;
    }
    .services-pricelist__header {
        margin-bottom: 12px;
    }
    .services-pricelist__master-label {
        font-weight: normal;
        font-size: 12px;
        line-height: 11px;
    }
    /**
     *  Pricelist
     */
    .pricelist.active {
        display: block;
    }
    .pricelist__filters {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }
    .pricelist__hair-filter {
        margin-bottom: 20px;
    }
    .pricelist__master-filter {
        margin-left: unset;
    }
    /**
     *  Blog Archive - Header
     */
    .blog-header {
        flex-direction: column;
    }
    .blog-header__title {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 34px;
    }
    .blog-header__subtitle {
        max-width: 260px;
        margin-bottom: 28px;
        font-size: 24px;
        line-height: 23px;
    }
    .blog-header__desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
    }
    .blog-header > img {
        display: none;
    }
    /**
     *  Blog Archive - Filter
     */
    .blog-filter__sort {
        display: none;
    }
    /**
     *  Blog Archive - Listing
     */
    .blog-tags {
        padding-left: 0;
        overflow-x: scroll;
    }
    .blog-items_grid {
        grid-template-columns: 1fr;
    }
    /**
     *  Blog Archive - Listing Item
     */
    .blog-item {
        display: flex;
        flex-direction: row-reverse;
    }
    .blog-item > img {
        width: 80px;
        border-radius: 0 4px 4px 0;
    }
    .blog-item__info {
        padding: 12px;
    }
    .blog-item__meta {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
    }
    .blog-item__meta-separator {
        height: 10px;
    }
    .blog-item__read-more {
        display: none !important;
    }
    /**
     *  Single Post - Wrapper
     */
    .post {
        display: block;
    }
    /**
     *  Single Post - Ations Block
     */
    .post-actions {
        display: none;
    }
    /**
     *  Single Post - Header
     */
    .post-header {
        flex-direction: column;
    }
    .post-header__content {
        margin-bottom: 40px;
    }
    .post-header__title {
        margin: 10px 0 30px;
    }
    .post-header__excerpt {
        margin-bottom: 0;
    }
    .post-header__socials {
        display: none;
    }
    .post-header__thumbnail {
        margin-left: 0;
    }
    /**
     *  Single Post - Related
     */
    .post-related__title {
        max-width: 220px;
    }
    .post-related__posts {
        grid-template-columns: 1fr;
    }
    /**
     *  Promotion Details
     */
    .promotion-details__header {
        text-align: center;
    }
    .promotion-details__body {
        flex-direction: column;
    }
    .promotion-details__body > img {
        margin-right: 0;
    }
    .promotion-details__content-footer a {
        width: 100%;
    }
    /**
     *  Modal
     */
    .modal__close {
        top: 15px;
        right: 15px;
    }
    .modal__inner {
        max-height: 100%;
        overflow-y: auto;
    }
    /**
     *  Modal - Promotions
     */
    #modal-promotions .modal__inner {
        max-height: calc(100% - 76px);
        margin: 38px;
        padding: 44px 18px 16px;
    }
    /**
     *  Vacancies
     */
    #vacancies-header .title {
        display: flex;
        flex-direction: column;
    }
    #vacancies-header .title__heading {
        order: 1;
        font-size: 36px;
        line-height: 34px;
    }
    #vacancies-header .title__subtitle {
        order: 2;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .vacancies {
        grid-template-columns: 1fr;
    }
    .vacancies__list {
        border-right: 0;
    }
    .vacancies__item-icon {
        display: none;
    }
    .vacancies__item-btn {
        font-size: 22px;
        line-height: 21px;
    }
    .vacancies__details {
        margin-top: 60px;
        padding-left: 0;
    }
    /**
     *  Salon Single Page
     */
    #salon .row {
        display: block;
    }
    .salon-info {
        margin-top: 40px;
        padding: 0;
        background: transparent;
    }
    .salon-info__city {
        font-size: 36px;
        line-height: 34px;
    }
    .salon-info__address {
        margin-bottom: 30px;
    }
    .salon-info__advantages {
        font-size: 14px;
    }
    /**
     *  Salon Single Page - Masters
     */
    .master-details {
        grid-template-columns: 1fr;
    }
    .master-details__photo {
        width: 100%;
    }
    .master-details__name {
        font-size: 24px;
        line-height: 23px;
    }
    .master-details__title {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 16px;
    }
    .master-details__info h3 {
        margin: 24px 0 8px;
        font-size: 18px;
        line-height: 17px;
    }
    /**
     *  About Us Page
     */
    #about-hero {
        margin-bottom: 60px;
    }
    #about-naming {
        margin-bottom: 100px;
    }
    #about-tagline {
        margin-bottom: 100px;
    }
    #about-services {
        margin-bottom: 80px;
    }
    #about-services .image-box.image-box_style-02 .image-box__title {
        padding: 10px 0 14px 0;
        font-size: 14px;
        line-height: 13px;
        text-align: left;
    }
    #about-visit {
        margin-bottom: 60px;
    }
    #about-testimonials {
        margin-bottom: 80px;
    }
    #about-map {
        background: url("../images/about-us/map-mobile.png") no-repeat right center;
        background-size: contain;
    }
    #about-school .image-box {
        max-width: 224px;
    }
    /**
     *  School Page
     */
    #hero-school {
        margin-bottom: 50px;
    }
    #school-about {
        margin-bottom: 60px;
    }
    #school-professions {
        margin-bottom: 60px;
    }
    #school-map {
        display: none;
        margin-bottom: 0;
    }
    #school-courses .link-box {
        max-width: 312px;
    }
    /**
     *  Gift Cards Page
     */
    .page-template-gift-cards .main-article {
        background-position: right -130px top 160px;
    }
    #gift-cards-header {
        padding-bottom: 180px;
    }
    #gift-cards-header .breadcrumbs {
        margin-bottom: 40px;
    }
    #gift-cards-header .row {
        min-height: unset;
    }
    #gift-cards-form > .container > .row > .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /**
     *  Promotions Page
     */
    #promotions {
        margin-bottom: 40px;
    }
    #promotions .container {
        padding-right: 0;
    }
    #promotions-map {
        display: none;
    }
    #promotions-contacts {
        display: block;
    }
    /**
     *  Breadcrumbs
     */
    .breadcrumbs {
        font-size: 16px;
    }
    /**
     *  Testimonials Block
     */
    .testimonial {
        flex-direction: column;
        max-width: 300px;
    }
    .testimonial > img {
        margin-bottom: 20px;
    }
    /**
     * Interactive Map Block
     */
    .interactive-map {
        min-height: unset;
    }
    .interactive-map__map {
        display: none;
    }
    .interactive-map__header {
        margin-bottom: 440px;
    }
    .interactive-map__header,
    .interactive-map__footer {
        position: unset;
        padding: 0 20px;
    }
    .interactive-map__footer {
        padding-bottom: 80px;
    }
    /**
     *  Phones Box Block
     */
    .phone-box__link {
        font-size: 24px;
        line-height: 24px;
    }
    /**
     *  Tagline Block
     */
    .tagline {
        text-align: left;
    }
    /**
     * Mobile Sliders System
     */
    [data-slider-mobile] .slick-list {
        margin-right: -20px;
    }
    [data-slider-mobile] .slick-slide {
        margin: 0 10px;
    }
    /**
     *  Logos Grid - Style 2
     */
    .logos-grid.logos-grid_style-02 {
        grid-template-columns: repeat(2, minmax(auto, 108px));
        justify-content: center;
    }
    /**
     *  Service header
     */
    /**
     *  Service Row
     */
    .service-row {
        margin-bottom: 60px;
    }
    /**
     *  Service Form
     */
    .serviceForm {
        margin-top: 40px;
    }
    .serviceForm__title {
        margin: 0 0 20px;
        font-size: 27px;
        line-height: 26px;
    }
    .serviceForm .form {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .form-row.form-row--two {
        grid-template-columns: 1fr;
    }

    /**
     *  Service Categories
     */
    .service-categories__salon-switcher {
        max-width: 100%;
    }
}

@media(max-width: 600px){
    body.admin-bar header {
        top: 0;
    }
    /**
     *  Socials List Block
     */
    .socials_list li span {
        display: none;
    }
    /**
     *  Homepage
     */
    #home-socials {
        padding-right: 0;
    }
    /**
     *  Related Pages Block
     */
    .related-pages {
        grid-template-columns: 1fr 1fr;
    }
    .related-pages__title {
        padding: 20px;
    }
}

@media(max-width: 550px) {
    .selectric-wrap {
        width: 100%;
    }
    .selectric-selectric_pdp {
        width: 100%;
        min-width: unset;
    }
    .servicesSlider__category {
        max-width: 302px;
    }
    .salonsSlider__item {
        max-width: 270px;
    }
    .cta.cta_franchise .cta__phone {
        margin-top: 25px;
        font-size: 14px;
    }
    /**
     *  Pricelist Category
     */
    .pricelist-category__header {
        flex-direction: column;
        align-items: unset;
    }
    .pricelist-category__info {
        margin-top: 6px;
    }
    .pricelist-item {
        margin-bottom: 20px;
    }
    .pricelist-item__info {
        align-items: flex-end;
        padding: 0;
        font-size: 14px;
        border-bottom: 1px solid #0E0D0A;
    }
    .pricelist-item:nth-child(odd) .pricelist-item__info {
        background-color: transparent;
    }
    .pricelist-item__name {
        max-width: 65%;
        margin-bottom: -5px;
        padding-right: 4px;
        font-weight: 500;
        background-color: #F9F9F9;
    }
    .pricelist-item__price {
        margin-bottom: -3px;
        padding-left: 6px;
        font-weight: 500;
        font-size: 11px;
        background-color: #F9F9F9;
    }
    .pricelist-item__add-btn {
        margin-top: auto;
    }
    /**
     *  Service Row
     */
    .service-row__read-more {
        width: 100%;
    }
    /**
     *  Service Form
     */
    .serviceForm .form__submit input {
        width: 100%;
    }
}